<p class="fw-bold text-light bg-secondary fs-3   mb- m-0" style="height: 47px">
  Chats :
</p>
<% friends.forEach(friend => { %>
  <a 
    href="/dialogue/<%= friend %>" 
    class="text-decoration-none text-capitalize fw-bold fs-5 m-0 p-0
    <%= chatting === friend ? 'text-info' : 'text-secondary' %>"
  >
    <%= friend %><br>
  </a>
<% }); %>