<nav class="navbar navbar-expand navbar-dark bg-info fixed-top px-2 m-0 p-0">
  <a class="navbar-brand fw-bold" href="/userpage">EasyChat</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto gap-2">
      <% if (!user) { %>
        <li class="nav-item">
          <a class="text-black-50 fw-bold underline" href="/register">Inscription</a>
        </li>
        <li class="nav-item">
          <a class="text-black-50 fw-bold underline" href="/login">Connexion</a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="text-black-50 fw-bold underline" href="/logout">
            Logout
          </a>
        </li>
      <% } %>
    </ul>
  </div>
</nav>
