<!DOCTYPE html>
<html>
<head>
  <title>Erreur</title>
  <%- include('./partials/link') %>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
<div>
  <h1 class="text-center fw-bold m-0 mb-3">Error page</h1>
</div>

</body>
</html>
