<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/link') %>
    <title>Connexion</title>
  </head>
  <body style="margin-top:55px">
    <%- include('./partials/nav') %>
    <div class="container col-6">
      <h1 class="text-center">
        Se connecter !
      </h1>
      <form method="POST" action="/">
        <div class="form-group">
          <label for="pseudo" class="fst-italic">
            Pseudo
          </label>
          <input 
            type="text" 
            class="form-control" 
            id="pseudo" 
            name="pseudo" 
            required
          />
        </div>
        <div class="form-group">
          <label for="password" class="fst-italic">
            Mot de passe
          </label>
          <input 
            type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            required
          />
        </div>
        <button type="submit" class="btn btn-info mt-2">
          Connexion 
        </button>
        <a href="/passwordForgot" class="btn bg-info-light mt-2">
          Mot de passe oublié ?
        </a>
      </form>
    </div>
  </body>
</html>
