<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/link') %>
    <title>Forgot password</title>
  </head>
  <body style="margin-top:35px">
    <%- include('./partials/nav') %>
    <div class="container">
      <h1 class="text-center pt-3">Mot de passe oublié</h1>
      <form action="/passwordforgot" method="POST">
        <label for="email" class="fst-italic mb-1 ">
          Adresse email :
        </label>
        <input 
          type="email" 
          id="email" 
          name="email" 
          class="form-control"
          placeholder="whrite your email address"
          required
          >
        <button type="submit" class="btn bg-info mt-2">
          Envoyer
        </button>
      </form>
    </div>
  </body>
</html>