<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/link') %>
    <title>Reset Password</title>
  </head>
  <body style="margin-top:35px">
    <%- include('./partials/nav') %>
    <div class="container">
      <h1 class="text-center pt-3">Reset password</h1>
      <form action="/passwordreset" method="POST">
        <input type="hidden" name="token" value="<%= token %>">
        <label for="password" class="fst-italic mb-1">
          New password :
        </label>
        <input 
          type="password" 
          id="password" 
          name="password" 
          class="form-control"
          required
        >
        <button type="submit" class="btn bg-info mt-2">
          Submit
        </button>
      </form>
    </div>
  </body>
</html>