body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1.5fr 3fr;
  height: 100vh;
}

.topbar {
  grid-column: 1 / span 2;
  padding: 20px;
  text-align: center;
}

.sidebar {
  overflow-y: auto;
  height: 100%;
  position: relative;
  width: 100%;
}

.link {
  position: absolute;
  bottom: 70px; 
  left: 50%;
  transform: translateX(-50%);
}

.main-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.middle-content {
  flex-grow: 1;
  overflow-y: auto;
}

.below-content {
  position: relative;
  bottom: 0;
  width: 100%;
}

.cursor-default { cursor: default; }
.txt-area { resize: none; }

.text-dark-75 { color: #404040; }

.bg-dark-75 { background-color: #404040; }
.bg-dark-less { background-color: #343a40; }
.bg-info-light { background-color: #f0fcfd; }
.bg-success-light { background-color: #e9fff5; }
.bg-danger-light { background-color: #fdecea; }
.bg-warning-light { background-color: #fff9e6; }
.bg-primary-light { background-color: #e7f0ff; }

.reverseMessage {
  height: 100vh;
  flex-direction: column-reverse;
}

.hidden { display: none; }

.underline {
  text-decoration: underline;
}
