.navbar { height: 48px; }
.mw-85 { max-width: 85%;}
.round-msg { border-radius:  30px; }
.round { border-radius: 50%;}
.wh-100{ width: 100px; height: 100px;}
.wh-35{ width: 35px; height: 35px;}
.wh-25{ width: 25px; height: 25px;}
.wh-25-21{ width: 25px; height: 21px;}
.wh-15{ width: 15px; height: 15px;}

.hidden { display: none; }
.cursor-default { cursor: default; }
.underline { text-decoration: underline; }
.txt-area { resize: none; }

.text-dark-75 { color: #404040; }


.bg-dark-75 { background-color: #404040; }
.bg-dark-less { background-color: #343a40; }






/* light */
.text-primary-light { color: #b3d7ff !important; }
.text-secondary-light { color: #d6d8db !important; }
.text-success-light { color: #b7e4c7 !important; }
.text-danger-light { color: #f8d7da !important; }
.text-warning-light { color: #fff3cd !important; }
.text-info-light { color: #cfe9f7 !important; }
.bg-primary-light, .bg-primary-light:hover { background-color: #b3d7ff !important; }
.bg-secondary-light { background-color: #d6d8db !important; }
.bg-success-light, .bg-success-light:hover { background-color: #b7e4c7 !important; }
.bg-danger-light, .bg-danger-light:hover { background-color: #f8d7da !important; }
.bg-warning-light, .bg-warning-light:hover { background-color: #fff3cd !important; }
.bg-info-light, .bg-info-light:hover { background-color: #cfe9f7 !important; }

/* dark*/
.text-primary-dark { color: #0a48b3 !important; }
.text-secondary-dark { color: #343a40 !important; }
.text-success-dark { color: #11623c !important; }
.text-danger-dark { color: #9e1f2c !important; }
.text-warning-dark { color: #a37c05 !important; }
.text-info-dark { color: #086589 !important; }
.bg-primary-dark, .bg-primary-dark:hover { background-color: #0a48b3 !important; }
.bg-secondary-dark { background-color: #343a40 !important; }
.bg-success-dark, .bg-success-dark:hover { background-color: #11623c !important; }
.bg-danger-dark, .bg-danger-dark:hover { background-color: #9e1f2c !important; }
.bg-warning-dark { background-color: #a37c05 !important; }
.bg-info-dark, .bg-info-dark:hover { background-color: #086589 !important; }

/* 
Primary : #0d6efd
Secondary : #6c757d
Success : #198754
Danger : #dc3545
Warning : #ffc107
Info : #0dcaf0
Light : #f8f9fa
Dark : #212529 
*/


.ft-victoria {font-family: "Playwrite AU VIC", cursive;}
.ft-roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.input-class , .input-class:hover{
  outline: none;
  box-shadow: none;
}

.text-link { 
  text-decoration: none;
  font-size: small;

}

.flex-container { display: flex; height: 100vh;}
.fixed-sidebar {
  width: 300px;
  min-width: 300px;
  background-color: #343a40; 
}
.flex-grow {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

