.navbar { height: 48px; }
.mw-85 { max-width: 85%;}
.round-msg { border-radius:  30px; }
.round { border-radius: 50%;}
.wh-100{ width: 100px; height: 100px;}
.wh-35{ width: 35px; height: 35px;}
.wh-25{ width: 25px; height: 25px;}
.wh-25-21{ width: 25px; height: 21px;}
.wh-15{ width: 15px; height: 15px;}

.hidden { display: none; }
.cursor-default { cursor: default; }
.underline { text-decoration: underline; }
.txt-area { resize: none; }

.text-dark-75 { color: #404040; }
.text-warning-dark { color: #dca602; }
.text-info-light { color: #d0f3f6; }
.text-info-dark { color: #086c80; }

.bg-warning-dark { background-color: #dca602; }
.bg-dark-75 { background-color: #404040; }
.bg-dark-less { background-color: #343a40; }

.bg-info-light { background-color: #d0f3f6; }
.bg-info-dark { background-color: #086c80; }
.bg-info-dark:hover { background-color: #0dcaf0; }

.bg-success-light, .bg-success-light:hover { background-color: #b2e5c9; }
.bg-danger-light, .bg-danger-light:hover{ background-color: #fdecea; }
.bg-warning-light, .bg-warning-light:hover { background-color: #FFE8A3 }
.bg-primary-light, .bg-primary-light:hover { background-color: #A6C9FE; }
.bg-secondary-light { background-color: #e8e8e8; }

.input-class , .input-class:hover{
  outline: none;
  box-shadow: none;
}

.text-link { 
  text-decoration: none;
  font-size: small;

}

.flex-container { display: flex; height: 100vh;}
.fixed-sidebar {
  width: 300px;
  min-width: 300px;
  background-color: #343a40; 
}
.flex-grow {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

